<html>

<head>
    <title>User list - PDF</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        
    
</head>

<body>
    <input id="check_conyuge" type="checkbox" data-style="slow" data-toggle="toggle" data-size="mini" data-on="Si" data-off="No">
    <input id="toggle-event" type="checkbox" data-toggle="toggle">
    <div id="console-event"></div>
    
</body>
<script>
        $(function() {
          $('#toggle-event').change(function() {
            $('#console-event').html('Toggle: ' + $(this).prop('checked'))
          })
        })
      </script>
</html>